@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

#root {
  display: flex;
}

label {
  display: block;
}
